extends layout

block scripts 
 script(src="/javascripts/murojs.js")
block content
  a(href="/logout") Logout
  br
  a(href="/") Volver 
  h1= title
  form(action="muro/upload/personal", method="post",enctype="multipart/form-data")
   label(for="imagenpersonal") Guardar imagen o marca personal?
   |
   |
   input#imagenpersonal(type="file", name="imagenpersonal", required)
   |
   |
   input(type="submit", value="Guardar") 
   |
   |
   input#cancelarpersonal(type="reset", value="Cancelar")
   br
   img#previewpersonal(width="200px")
  form(action="muro/upload", method="post",enctype="multipart/form-data")
   label(for="imagen") Publicar una imagen?
   |
   |
   input#imagen(type="file", name="imagen", required)
   |
   |
   label(for="titulo") Titulo: 
   input#titulo(type="text", name="titulo")
   br
   br
   label(for="imagenmarca") Colocar marca de agua?
   |
   |
   Select(name="imagenmarca")
    option(value="") Sin marca...
    each imagen in imagenes 
     option(value=imagen.url)=imagen.url  
   | 
   | (Imagen personal o marca personal almacenada)  
   br
   br
   label(for="derechos") Derechos de autor?
   |
   |
   Select(name="derechos") 
    option(value="Dominio Publico") Dominio Publico
    option(value="Copyright") Copyright
    option(value="Creative Commons") Creative Commons
   |
   |
   label(for="Categoria") Categoria: 
   |
   |
   Select(name="Categoria")
    option(value="Personal") Personal 
    option(value="Arte") Arte 
    option(value="Dibujo") Dibujo 
    option(value="Paisaje") Paisaje  
   |
   |
   label(for="Tipo") Tipo:
   |
   | 
   Select(name="Tipo")
    option(value="Publico") Publico
    option(value="Privado") Privado
   br
   br
   label(for="Etiquetas") Etiquetas: #
   |
   |
   input#etiqueta1(type="text", name="Etiquetas") 
   |
   |
   input#etiqueta2(type="text", name="Etiquetas")
   |
   |
   input#etiqueta3(type="text", name="Etiquetas")
   br
   br 
   label(for="Descripcion") Descripcion: 
   textarea#descripcion(name="Descripcion", cols="40", rows="1")  
   |
   |
   input(type="submit", value="Publicar") 
   |
   |
   input#cancelar(type="reset", value="Cancelar")
   br
   img#preview(width="200px")
   br
   br
  h2 Muro
  .container.mx-auto.mt-2
   .row
    each post in posts    
      .card(style='width: 18rem;')
       img.card-img-top(src='...' alt='...')
       .card-body
        h5.card-title Card title
        p.card-text
         | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        a.btn.btn-primary(href='#') Go somewhere
        p.clasificacion
         input#radio1(type='radio' name='estrellas' value='5')
         label(for='radio1') &starf;
         input#radio2(type='radio' name='estrellas' value='4')
         label(for='radio2') &starf;
         input#radio3(type='radio' name='estrellas' value='3')
         label(for='radio3') &starf;
         input#radio4(type='radio' name='estrellas' value='2')
         label(for='radio4') &starf;
         input#radio5(type='radio' name='estrellas' value='1')
         label(for='radio5') &starf;
    
  
